@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format('woff2'),
       url("../fonts/Mulish-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Regular.woff2") format('woff2'),
       url("../fonts/Oswald-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Light.woff2") format('woff2'),
       url("../fonts/Oswald-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Italic.woff2") format('woff2'),
       url("../fonts/Mulish-Italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.woff2") format('woff2'),
       url("../fonts/Mulish-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff2") format('woff2'),
       url("../fonts/Mulish-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* basic style */
*,
*::before,
*::after,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  color: #222;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.container {
  margin: 0 auto;
  padding: 0 0.625rem;
  max-width: 1440px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.btn {
  min-width: 12.5rem;
  min-height: 3.75rem;
  padding: 1.125rem 0;
  color: #fff;
  font-family: "Oswald";
  text-transform: uppercase;
  border: none;
  background-color: #222;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover {
  color: #222;
  background-color: #ff3c3c;
}
.flex {
  display: flex;
}
.header,
.hero,
.portfolio,
.faq,
.footer {
  color: #fff;
  background: #222;
}
.section-title {
  margin: 0 0 12px;
  font-family: "Oswald";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.no-scroll {
  overflow: hidden;
}
/* header */
.header__container {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}
.nav {
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  transition: opacity 0.3s ease;
}
.logo {
  margin-right: auto;
}
.menu {
  align-items: center;
  gap: 2.5rem;
}
.menu__link {
  font-family: "Oswald";
  color: #fff;
  text-transform: uppercase;
}
.menu__link:hover {
  color: #ff3c3c;
}
.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.375rem;
  cursor: pointer;
}
.burger span {
  display: block;
  height: 0.125rem;
  background-color: #fff;
  border-radius: 1px;
}
.burger span:first-child {
  width: 0.75rem;
  transition: transform 0.3s ease;
}
.burger span:last-child {
  width: 1.25rem;
  transition: transform 0.3s ease;
}

/* hero */
.hero {
  padding: 3.75rem 0;
}
.hero__container {
  gap: 2.5rem;
}
.hero__author {
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  align-items: center;
  gap: 0.75rem;
  font-size: 12px;
  font-weight: 500;
  line-height: 1rem;
  padding: 0 1.125rem 0 0;
}
.author__text,
.author__year {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.author__line {
  width: 1px;
  height: 100%;
  background-color: #fff;
}
.hero__text {
  flex-direction: column;
  max-width: 46.25rem;
  padding: 6.25rem 0 0;
  font-family: "Oswald";
}
.hero__stat {
  gap: 3.75rem;
  margin-bottom: 2.5rem;
}
.hero__stat-block {
  padding-left: 1.625rem;
}
.hero__stat-dig {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.375rem;
  text-transform: uppercase;
}
.hero__stat-dig::before {
  content: "+";
  position: absolute;
  left: -23px;
}
.hero__stat-text {
  font-family: "Mulish";
}
.hero__text>p {
  margin: 0 0 1.7rem;
  font-size: 7.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 8.25rem;
  text-transform: uppercase;
}
.hero__text h1 {
  margin-bottom: 10rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
}
.hero__scroll {
  position: relative;
  gap: 0.5rem;
  width: max-content;
  cursor: pointer;
}
.hero__scroll-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.hero__scroll:hover .hero__scroll-text {
  color: #ff3c3c;
}
.hero__scroll:hover svg path{
  stroke: #ff3c3c;
}
.hero__scroll-text {
  font-family: "Mulish";
}
.hero__img {
  align-items: center;
  max-width: 13.75rem;
}
.hero__credo {
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 17.5rem;
  margin-bottom: 0.3125rem;
}
.hero__credo-img {
  width: 17.5rem;
}
.hero__credo-text {
  align-self: flex-end;
  max-width: 13.75rem;
  text-align: right;
}

/* about */
.about__container {
  gap: 2.5rem;
  padding: 3.4375rem 1.25rem;
}
.about__block {
  flex-direction: column;
  gap: 2.5rem;
  flex-basis: 27.5rem;
}

/* my portfolio */
.portfolio {
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 0;
}
.portfolio__container {
  width: 100%;
  padding: 0 1.25rem 2.5rem;
}
.portfolio__text {
  max-width: 22.5rem;
  margin-bottom: 2.5rem;
}
.swiper-slide {
  align-self: flex-start;
  user-select: none;
  cursor: grab;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

/* package and price */
.packages__container {
  padding: 3.94rem 1.25rem;
}
.packages__subtitle {
  margin-bottom: 2.5rem;
}
.packages__info {
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.packages__price {
  flex-direction: column;
  flex-basis: 20rem;
  height: 31.25rem;
  padding: 1.5rem;
  border: 1px solid #222222;
  transition: border-color 0.3s ease;
}
.packages__price:hover,
.packages__price:hover .price__btn {
  border-color: #ff3c3c;
}
.packages__price:hover .price__btn {
  color: #222;
  background-color: #ff3c3c;
}
.price__title {
  margin-bottom: 0.75rem;
  font-family: "Oswald";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
}
.price__list {
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.74rem;
}
.price__item::before {
  content: "■";
  display: inline-block;
  height: 0.75rem;
  margin-right: 0.375rem;
  font-size: 0.625rem;
  color: #222;
  vertical-align: middle;
  line-height: 1;
}
.price__cost {
  display: inline-block;
  margin-bottom: auto;
  font-family: "Oswald";
}
.price__text {
  margin-bottom: 0.75rem;
  font-style: italic;
  line-height: 1.25rem;
}

/* faq */
.faq__container {
  gap: 2.5rem;
  padding: 3.875rem 1.25rem;
}
.faq__left {
  flex-basis: 45.25rem;
}
.faq__right {
  flex-basis: 45.25rem;
}
.faq__block {
  border-bottom: 1px solid #ccc;
}
.faq__header {
  justify-content: space-between;
  align-items: center;
  padding: 1.063rem 0;
  cursor: pointer;
}
.faq__question {
  align-items: center;
  font-family: "Oswald";
  font-size: 20px;
  line-height: 1.75rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.faq__header:hover .faq__question {
  color: #ff3c3c;
}
.faq__icon {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: auto;
}
.faq__icon span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 15.5px;
  height: 1.5px;
  background: #fff;
  transition: all 0.3s ease;
  transform: translateY(-50%);
}
.faq__icon span:nth-child(2) {
  width: 1.5px;
  height: 15.5px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.faq__block.open .faq__icon span:nth-child(2) {
  opacity: 0;
}
.faq__header:hover .faq__icon span {
  background: #ff3c3c;
}
.faq__answer {
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.faq__block.open .faq__answer {
  max-height: 20rem;
  padding-bottom: 1.25rem;
}

/* sign up */
.signup {
  font-family: "Oswald";
  line-height: 1.75rem;
  text-transform: uppercase;
}
.signup__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0 0;
}
.signup__title {
  display: none;
}
.signup__text {
  margin-bottom: 1.55rem;
  font-size: 1.25rem;
}
.signup__form {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1.25rem;
}
.signup__input {
  flex: 1 1 auto;
  max-width: 23.75rem;
  min-width: 16rem;
  height: 60px;
  padding: 0 0.75rem;
  color: #222;
  text-transform: uppercase;
  border: 1px solid #222;
}
.signup__input::placeholder {
  color: #989898;
}
.signup__input:hover {
  border-color: #ff3c3c;
}
.footer__container {
  padding: 1.25rem;
  font-family: "Oswald";
}
.social__list {
  justify-content: center;
  align-items: center;
}
.social__item {
  padding: 1.25rem 0;
}
.social__link {
  padding: 1.25rem;
  color: #fff;
  text-transform: uppercase;
}

/* media queries */

@media (max-width: 1360px) {
  .hero__img {
    display: none;
  }
    .hero__text>p {
    width: min-content;
  }
}
@media (max-width: 1140px) {
  .hero__container {
    gap: 1.25rem;
  }
  .hero__text>p {
    font-size: 4.25rem;
    line-height: 5rem;
  }
  .about__container {
    flex-direction: column;
  }
  .about__block {
    flex-basis: content;
  }
}
@media (max-width: 860px) {
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #222;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1;
    opacity: 0;
  }
  .nav.open {
    transform: translateX(0);
    transition: transform 0.3s ease;
    opacity: 1;
  }
  .nav.open .menu {
    flex-direction: column;
    justify-content: center;
  }
  .burger.open span:first-child {
    width: 1.25rem;
    transform: rotate(45deg) translate(3px, 3px);
    transition: transform 0.3s ease;
  }
  .burger.open span:last-child {
    width: 1.25rem;
    transform: rotate(-45deg) translate(3px, -3px);
    transition: transform 0.3s ease;
  }
  .burger {
    display: inline-flex;
    position: relative;
    z-index: 1;
  }
  .hero__author {
    width: 60px;
    padding: 0 2.6rem 0 0;
  }
  .hero__text>p {
    margin-bottom: 1.7rem;
  }
  .hero__credo-img {
    width: 13.75rem;
  }
  .about__block:nth-child(3) img {
    display: none;
  }
  .packages__info {
    gap: 1.25rem;
  }
  .faq__container {
    flex-direction: column;
  }
  .faq__left,
  .faq__right {
    flex-basis: auto;
  }
}
@media (max-width: 760px) {
  .hero__author {
    display: none;
  }
  .signup__form {
    flex-direction: column;
  }
  .signup__input {
    width: 21.25rem;
    box-sizing: border-box;
  }
}
@media (max-width: 670px) {
  .hero__container {
    flex-direction: column;
    align-items: center;
  }
  .hero__text {
    padding: 0;
  }
  .hero__text>p {
  font-size: 3.5rem;
  }
  .social__list {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .hero__text {
    gap: 2.5rem;
  }
  .hero__stat {
    margin-bottom: 0;
  }
  .hero__text>p {
    margin-bottom: 0;
    line-height: 4rem;;
  }
  .hero__text h1 {
    margin: 0;
  }
  .hero__credo {
    align-self: flex-end;
    gap: 3.75rem;
    margin-bottom: 0;
  }
  .hero__scroll {
    display: none;
  }
  .about__container {
    padding: 60px 20px;
  }
  .packages__container {
    padding-top: 5.5rem;
  }
  .social__item {
    padding: 1.125rem 0;
  }
}