@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Regular.woff2") format('woff2'),
       url("../fonts/Mulish-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Regular.woff2") format('woff2'),
       url("../fonts/Oswald-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Light.woff2") format('woff2'),
       url("../fonts/Oswald-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Italic.woff2") format('woff2'),
       url("../fonts/Mulish-Italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Medium.woff2") format('woff2'),
       url("../fonts/Mulish-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/Mulish-Bold.woff2") format('woff2'),
       url("../fonts/Mulish-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* basic style */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
font-family: "Mulish", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1440px;
}

a {
  text-decoration: none;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.flex {
  display: flex;
}
.header,
.hero {
  color: #fff;
  background: #222;
}
.section-title {
  margin: 0 0 12px;
  font-family: Oswald;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
  text-transform: uppercase;
}
/* header */


.nav {
  padding: 18px 20px;
}
.logo {
  width: 20px;
  height: 20px;
  margin-right: auto;
}
.menu {
  align-items: center;
  gap: 40px;
}
.menu__item {
  height: 24px;
}
.menu__link {
  font-family: Oswald;
  color: #fff;
  text-transform: uppercase;
}
.menu__link:hover {
  color: #ff3c3c;
}

/* hero */

.hero {
  margin-bottom: 60px;
  padding: 60px 0;
}
.hero__author {
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 60px;
  align-items: center;
  gap: 12px;
  margin-right: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.author__text,
.author__year {
  writing-mode: vertical-rl;
  margin: 0;
  transform: rotate(180deg);
}
.author__line {
  width: 1px;
  height: 100%;
  background-color: #fff;
}
.hero__text {
  max-width: 740px;
  width: 100%;
  margin-right: 40px;
  padding: 100px 20px 0;
  font-family: Oswald;
}
.hero__stat {
  gap: 60px;
  margin-bottom: 40px;
}
.hero__stat-block {
  padding-left: 23px;
}
.hero__stat-dig {
  position: relative;
  margin-bottom: 8px;
  font-size: 48px;
  font-weight: 300;
  line-height: 54px;
  text-transform: uppercase;
}
.hero__stat-dig::before {
  content: "+";
  position: absolute;
  left: -23px;
}
.hero__stat-text {
  font-family: Mulish;
}
.hero__text>p {
  margin: 0 0 40px;
  font-size: 116px;
  font-style: normal;
  font-weight: 300;
  line-height: 132px;
  text-transform: uppercase;
}
.hero__text h1 {
  margin-bottom: 160px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.hero__scroll {
  gap: 8px;
}
.hero__scroll-text {
  font-family: Mulish;
}
.hero__img {
  align-items: center;
  margin-right: 40px;
  max-width: 220px;
}
.hero__credo {
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 280px;
}
.hero__credo-text {
  align-self: flex-end;
  max-width: 220px;
  text-align: right;
}

/* about */

.about__container {
  gap: 40px;
  padding: 60px 20px;
}
.about__block {
  flex-direction: column;
  gap: 40px;
  flex-basis: 440px;
}
